<div class="row">
	<div class="twelve columns">
		<a href="#/">Logout</a>
	</div>
</div>
<div class="row">
	<div class="twelve columns">
		<h2>Doctor's Appointments</h2>
	</div>
</div>
<label>Search: <input ng-model="searchText"></label>
<div class="row">
	<div class="twelve columns">
		<table class="u-full-width">
			<thead>
				<tr>
					<th>Date</th>
					<th>Time</th>
					<th>Patient Name</th>
					<th>Complain</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="appt in appts | orderBy:'date':reverse | filter: searchText">
					<td ng-bind="appt.date | date: 'MMMM d, y'"></td>
					<td ng-bind="appt.time"></td>
					<td ng-bind="appt.name"></td>
					<td ng-bind="appt.complain"></td>
					<td ng-if="appt.user_id == user._id"><button ng-click="Delete(appt)">Cancel</button></td>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="three columns">
		<a href="#/new_appointment"><button>Make Appoinment</button></a>
	</div>
</div>